@model List<WeatherForecast1.Models.City>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6">
        <h2>Choose city ...</h2>
        <table class="table-striped">
            @foreach (var c in Model)
            {
                <tr>
                    <td class="col-md-3">@Html.ActionLink(string.Format("{0}", c.name), "GetForecastFor", "Forecast", new { city = c.name }, null)</td>
                    <td class="col-md-3">@Html.ActionLink("Delete", "Delete", new { city = c.name })</td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-6">
        <h2>... or find your one</h2>
        @using (Html.BeginForm("GetForecastFor", "Forecast", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-group">
                @Html.TextBox("city", null, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-default">Find</button>

        }
    </div>

</div>
<br />
<br />

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Add city to favourites", "Create", "City")
    </div>
</div>